$primary-color: #efefef;
$secondary-color: #e04747;
$primary-button-color: #6ca7ff;

//fonts

h1,
h2,
h3,
h4 {
  font-family: "Nanum";
}

p,
a {
  font-family: "oswald", Arial, Helvetica, sans-serif;
  color: black;
}

a:hover {
  color: $primary-button-color;
}

.nav-link:hover {
  color: $primary-button-color;
}

.nav-link {
  font-size: 18px;
}

// Body
.main-background-color {
  background-color: $primary-color;
}

// Button
.btn-outline-success:hover {
  background-color: $primary-button-color;
}

.section-background {
  background-color: $secondary-color;
}
