$primary-colour: #efefef;
$secondary-colour: #6ca7ff;

// Body
.main-background-color {
  background-color: $primary-colour;
}

// Button
.btn-outline-success:hover {
  background-color: $secondary-colour;
}
